body {
  font-family: arial;
  background: #7BDAF3;
}

.container {
  width: 325px;
  height: 500px;
  margin: 50px auto;
  background: #ECFAF5;
  border: 3px solid black;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.navbar{
  width: 100%;
  height: 30px;
  background: #9EC862;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.content textarea{
  resize: none;
  display: inline-block;
  border: none;
  width: 100%;
  height: 455px;
  background: transparent;
}

.content textarea:focus{
  outline: none;
}

.navbar div{
  width: 25px;
  height: 25px;
  margin: 3px;
  transition: .3s;
}

.navbar div:hover{
  width: 30px;
  height: 30px;
}

.btn-save{
  background: url(save.png);
  background-size: cover;
  transition: .3s;
}

/*.btn-save:active{
  transform: rotate(360deg);
}*/

.btn-edit{
  background: url(edit.png);
  background-size: cover;
}

.btn-min{
  background: url(trash.png);
  background-size: cover;
}


.disabled-input{
  pointer-events: none;
}

.change-color{
  background: #f9faea;
}

.add-button{
  width: 75px;
  height: 20px;
  background: #bff2db;
  font-size: 15px;
  padding: 5px;
  text-align: center;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: .3s;
}

.add-button:hover{
  opacity: 30%;
}